  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "popping", sans-serif;
    text-decoration: none;
    color: #fff;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../Imagenes/blur.png);
    background-size: cover;
    /* Hace que la imagen cubra toda la pantalla */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que se repita */
  }

  .iniciales {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centra exactamente en el medio */
    width: 80px;
    /* Tamaño deseado de la imagen */
    height: auto;
    /* Mantiene proporción */
  }


  .wrapper {
    width: 420px;
    background: transparent;
    backdrop-filter: blur(80px);
    border-radius: 10px;
    padding: 30px 40px;

  }

  .wrapper h1 {
    font-size: 36px;
    text-align: center;
  }

  .wrapper .formulario {
    width: 100%;
    height: 50%;
    margin: 30px 0;

  }

  .formulario input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
  }

  .formulario input::placeholder {
    color: #fff;
  }

  .wrapper .recordar-recuperar {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
  }

  .recordar-recuperar label input {
    margin-right: 3px;
  }

  .recordar-recuperar a:hover {
    text-decoration: underline;
  }

  .wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10 rgba(0, 0, 0, .1);
    cursor: pointer;
    color: #333;
    font-weight: 600;
  }

  .wrapper .Registrarse {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
  }

  .Registrarse a {
    font-weight: 600;
  }

  .Registrarse a:hover {
    text-decoration: underline;
  }